/* To change the display effect, modify the closed and opened state. */
.crClosed {
	height:0;
}
.crOpen {
	height:152px;
}
.crColorRoller{
	position:relative;
}

/* 
* Icon graphic.  
* The size is set in .crIcon0, or can be modified dynamically:
*	new CollorRoller().getFirst().setSize({my:size}).inject('myLocation'); 
*/
.crIcon{
	padding: 1px;
	position:absolute;
	top:0;
	left:0;
	background-color: #f0f0f0;
	border:2px #d3d3d3 solid;
	display:inline-block;
	vertical-align:top;
	-moz-border-radius:3px;
	cursor:pointer;
}
.crIcon0{
	height:11px;
	width:15px;
	background-color:#f00;
	border: 3px solid rgba(127,127,127,.3);
	-moz-border-radius:3px;
}
.crIcon1{
	width:6px;
	height:5px;
	bottom:0;
	right:0;
	position:absolute;
	margin:1px;
	overflow:hidden;
	-moz-border-radius:2px;
	border:3px solid rgba(127,127,127,.3);
	xpointer-events:none;
}
.crIcon2{
	width:6px;
	height:6px;
	bottom:-1px;
	right:-3px;
	position:absolute;
	-moz-transform: rotate(45deg);
	border:3px solid white;
	background-color:#000;
}

/* Parent Styles */
.crFrame{
	overflow:hidden;
	position:absolute;
	top:22px;
	left:0;
}
.crColorPicker{
	width:300px;
	height:150px;
	overflow:hidden;
	background-color:silver;
	position:relative;
	border: solid 1px grey;
	-moz-border-radius:5px; /* Firefox 3.5+ */
	-webkit-border-radius:5px; /*Webkit 3.0+ */
	-ms-border-radius:5px; /* IE9+ (cruel joke) */
	border-radius:5px; /* Opera 10.50+ */
}
.crColorPicker  span{
	display:inline-block;
}
.crBox, .crBar, .crNums, .crBot{
	float:left;
	position:relative;
	margin:5px 5px 0;	
	/* Would love to use column-count, but no IE support */
}


/* Head */
.crHead{
	height:10px;
	background-image: -moz-linear-gradient(top, white, silver);
	background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(silver));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr='silver');
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr='silver');
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.crCancel{
	-moz-border-radius:50%;
	-webkit-border-radius:5px;
	background-color:#E99999;
	cursor:pointer;
	width:18px;
	height:18px;
	right:3px;
	top:2px;
	position:absolute;
	text-align:center;
	background-image:-moz-linear-gradient(top,#FBB1B1,#A53232 49%,#901515 51%, #CC4B4B);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#FBB1B1), color-stop(0.49, #A53232), color-stop(0.51, #901515), to(#CC4B4B));
}
.crX{
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	font:bold 25px Helvetica;
	color:white;
	text-shadow: #000 0 1px;
	margin-left:1px;
	margin-top:-7px;
}

/* Box */
.crBox {
	cursor:crosshair;
	width:100px;
	height:100px;
}
.crBoxSel{
	position:absolute;
	width:1px;
	height:1px;
}
.crBoxSel div{
	position:absolute;
	top:-3px;
	left:-3px;
	height:6px;
	width:6px;
	overflow:hidden;
	border:1px solid #000;
	xborder-width:13px;
	xoutline: 1px solid #fff;
	-moz-outline-radius:50%;
	-moz-border-radius:50%;
	-webkit-gradient(type, inner_center, inner_radius, outer_center, outer_radius, / stop...)
	x-webkit-border-image:-webkit-gradient(radial, 50% 0%, 50% 100%, from(red), to(blue)) 0 4 0 0 repeat repeat;
	x: -webkit-gradient(linear, center top, center bottom, from(white), to(black));
	-webkit-border-radius:3px;
	
	/* The same effect can be done using:
	*	border:2px solid #fff;
	*	-moz-border-top-colors: #000 #fff; etc.
	*/
}
.crL0, .crL1, .crL2, .crShape, .crShade{
	width:100%;
	xheight:100%;
	height:100px;
	position:absolute;
	top:0;
	left:0;
	border:0;
}

.crRound, .crRound .crL2, .crRound .crL0{
	-moz-border-radius:50%;
	-webkit-border-radius:50px; 
	border-radius:50%;
}

/* Bar */
.crBar{
	cursor:n-resize;
	width:20px;
	height:100px;
}
.crBar div.crBarSel{
	position:absolute;
	left:-1px;
	margin-top:-2px;
	top:50%;
	height:5px;
	width:100%;
	background-color:#fff;
	border:1px solid black;
	overflow:hidden;
}
.bar0{
	background-image: -moz-linear-gradient(top, #f00,#f0f,#00f,#0ff,#0f0,#ff0,#f00);
	background-image: -webkit-gradient(linear, center bottom, center top, from(#f00), color-stop(0.166, #ff0),color-stop(0.333, #0f0),color-stop(0.5, #0ff),color-stop(0.666, #00f),color-stop(0.833, #f0f), to(#f00) );
}
.bar1{
	background-image: -moz-linear-gradient(top, white, black);
	background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(black));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF000000);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF000000);
}

/* Nums */
.crNums{
	width:145px;
}
.crNums select{
	width:63px;
	height:18px;
	padding:0;
	font:12px Tahoma;
	color:black;
	border:1px solid #E2E5E9;
	background-image: -moz-linear-gradient(top, #eee, #C9CED6, #ccc, #CACED6);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:0 3px 3px;
	background-color:#eee
}
.crNums option{
	background-color:#fff;
}
.crD span.crHex{
	width:30px;
}
.crD input.crIHex{
	width:70px;
}
.crD input{
	width:25px;
	background-color:transparent;
	border:1px solid grey;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	height:11px;
	color:#778398;
}
span.crD, .crApply{
	width:50px;
	height:15px;
	overflow:hidden;
	padding:2px 6px;
	font:12px Tahoma;
	color:black;
	border:1px solid #E2E5E9;
	vertical-align:top;
	xbackground-image: -moz-linear-gradient(top, white, #CACED6);
	background-image: -moz-linear-gradient(top, #eee, #C9CED6, #ccc, #CACED6);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), color-stop(0.33, #C9CED6), color-stop(0.66, #ccc), to(#CACED6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr='silver');
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr='silver');
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:2px 3px 3px;
}
span.crD span{
	text-shadow: #fff 0 1px;
	width:15px;
	vertical-align:baseline;
}

/* Bottom */
.crBot{
	width:100%;
	height:30px;
	xmargin:0 5px;
}
.crBot .crD{
	width:115px;
	margin:0;

}
.crView{
	width:58px;
	height:16px;
	border:2px solid black;
	outline:1px solid white;
	vertical-align:middle;
	margin-left:15px;
}
.crBot .crD.crApply {
	width:50px; vertical-align:middle; margin: 0 5px; cursor:pointer;
}


/* Gradients */
v\:*{behavior: url(#default#VML); antialias: false;}

v:line{width:3px;}
.gecko .crL03,
.gecko .crL02W{ background-image:-moz-linear-gradient(left, #000, #fff); }
.gecko .crL01{	background-image: -moz-linear-gradient(left, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00); }
.gecko .crL00{	background-color: transparent !important; }

.crL12L{
	background-image:
		-webkit-gradient(linear, left center, right center, from(#000), color-stop(0.5,transparent), to(#fff)), 
		-webkit-gradient(linear, center bottom, center top, from(grey), to(transparent));
	background-image:
		-moz-linear-gradient(left, #000, transparent, #fff), 
		-moz-linear-gradient(bottom, grey, transparent) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00676767, endColorstr=#FF676767);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00676767, endColorstr=#FF676767);
}
.crL12L .crIE0{
	height:100%;
	width:50%;
	float:left;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=1);
}
.crL12L .crIE1{
	height:100%;
	width:50%;
	float:right;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
}
.crL12B{
	background-image:
		-webkit-gradient(linear, left center, right center, from(#000), to(transparent)), 
		-webkit-gradient(linear, center bottom, center top, from(#fff), to(transparent)); 
	background-image:
		-moz-linear-gradient(left, #000, transparent), 
		-moz-linear-gradient(bottom, white, transparent) !important;
	filter: 
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF)
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=1);
	-ms-filter:
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF)
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=1);
}
.crL12W, .crL13{ 
	background-image:-webkit-gradient(linear, left center, right center, from(#000), to(#fff));
	-webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	filter:
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFFFFFFF, GradientType=1)
		progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, Style=1, StartX=50,  FinishX=50, StartY=0, FinishY=100);
	-ms-filter:
		progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFFFFFFF, GradientType=1)
		progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, Style=1, StartX=50,  FinishX=50, StartY=0, FinishY=100);
}
.crL10{
	background-image: -webkit-canvas(circle);
	-webkit-mask-image: -webkit-gradient(radial, center center, 0, center center, 50, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)) );
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, Style=2, StartX=0,  FinishX=100, StartY=0, FinishY=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, Style=2, StartX=0,  FinishX=100, StartY=0, FinishY=100);
}
.crL11{
	height:100px;
	overflow:hidden;
	background-image: -webkit-gradient(linear, left center, right center, from(#f00), color-stop(0.166, #ff0),color-stop(0.333, #0f0),color-stop(0.5, #0ff),color-stop(0.666, #00f),color-stop(0.833, #f0f), to(#f00) );
	-webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, Style=1, StartX=50,  FinishX=50, StartY=100, FinishY=0);
}
.crL11 div{
	height:100px;
	width:17px;
	float:left;
}
.crL11 div.crIE0{
	width:16px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FFFFFF00, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FFFFFF00, GradientType=1);
}
.crL11 div.crIE1{
	float:left;
	width:17px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF00FF00, GradientType=1);
}
.crL11 div.crIE2{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FF00, endColorstr=#FF00FFFF, GradientType=1);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FF00, endColorstr=#FF00FFFF, GradientType=1);
}
.crL11 div.crIE3{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FFFF, endColorstr=#FF0000FF, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FFFF, endColorstr=#FF0000FF, GradientType=1);
}
.crL11 div.crIE4{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFF00FF, GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFF00FF, GradientType=1);
}
.crL11 div.crIE5{
	width:16%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFFF0000, GradientType=1);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFFF0000, GradientType=1);
}

.crBar div{
	height:17px;
	width:100%;
}
.crBar div.crIE6, .crBar div.crIE11{
	height:16px;
}
.bar0 div.crIE6{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FFFFFF00);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FFFFFF00);
}
.bar0 div.crIE7{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF00FF00);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF00FF00);
}
.bar0 div.crIE8{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FF00, endColorstr=#FF00FFFF);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FF00, endColorstr=#FF00FFFF);
}
.bar0 div.crIE9{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FFFF, endColorstr=#FF0000FF);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00FFFF, endColorstr=#FF0000FF);
}
.bar0 div.crIE10{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFF00FF);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFF00FF);
}
.bar0 div.crIE11{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFFF0000);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFFF0000);
}

.crL1 .crCircle{
	display:none;
}
div.crL10 div.crCircle{
	display:block;
	height:100px;
}
/* Triangle */
.crShape3{ 
	border-color: transparent silver;
	border-width:0 50px 100px;
	line-height:0;
	height:0px;
	width:0px;
	
	/* IE6 fix, method #1*/
	border-style:dashed solid;
	
	/* Method 2:
	border-style:solid;
	_border-bottom-color:#BAD1E6;
	filter:Chroma(Color = #BAD1E6);
	
	Both methods show the triangle. Neither returns control to the user agent. :(
	*/
}
/* IE Oval */

.crShape0 {
	overflow:hidden;
}
div.crShape0 v\:group{
	position:relative;
	left:-22px; 
	top:-22px; 
} 
.crShape1 v\:group, .crShape2 v\:group, .crShape3 v\:group{
	display:none;
}


/* Triangle picker. Buggy in IE6 
.crTriangle div{
	position:absolute;
	border-bottom:100px dotted transparent;
	width:0;
	height:0;
	bottom:0;
	right:0;
}
.crTriangle .crTri1{
	left:0;
	border-left:50px solid silver;
}
.crTriangle .crTri2{
	right:0;
	border-right:50px solid silver;
}
*/