.crColorRoller{}
.crFrame{
	overflow:hidden;
}
/* To change the display effect, modify the closed and opened state. */
.crClosed{
	height:0;
}
.crOpen{
	height:152px;
}

/* 
* Icon graphic.  
* The size is set in .crIcon0, or can be modified dynamically:
*	new CollorRoller().getFirst().setSize({my:size}).inject('myLocation'); 
*/
.crIcon{
	padding: 1px;
	position:relative;
	background-color: #f0f0f0;
	border:2px #d3d3d3 solid;
	display:inline-block;
	vertical-align:top;
	-moz-border-radius:3px;
	cursor:pointer;
}
.crIcon0{
	height:11px;
	width:15px;
	background-color:#f00;
	border: 3px solid rgba(127,127,127,.3);
	-moz-border-radius:3px;
}
.crIcon1{
	width:6px;
	height:5px;
	bottom:0;
	right:0;
	position:absolute;
	margin:1px;
	overflow:hidden;
	-moz-border-radius:2px;
	border:3px solid rgba(127,127,127,.3);
	pointer-events:none;
}
.crIcon2{
	width:6px;
	height:6px;
	bottom:-1px;
	right:-3px;
	position:absolute;
	-moz-transform: rotate(45deg);
	border:3px solid white;
	background-color:#000;
}


.crColorPicker{
	width:300px;
	height:150px;
	background-color:silver;
	position:relative;
	border: solid 1px grey;
	-moz-border-radius:5px; /* Firefox 3.5+ */
	-webkit-border-radius:5px; /*Webkit 3.0+ */
	-ms-border-radius:5px; /* IE9+ (cruel joke) */
	border-radius:5px; /* Opera 10.50+ */
}
.crColorPicker  span{
	display:inline-block;
}
.crHead{
	background-image: -moz-linear-gradient(top, white, silver);
	height:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.crBox {
	cursor:crosshair;
	position:relative;
	margin:5px;
	float:left;
	position:relative;
	width:100px;
	height:100px;
}
.bar0{
	background-image: -moz-linear-gradient(top, rgb(255,0,0),rgb(255,0,255),rgb(0,0,255),rgb(0,255,255),rgb(0,255,0),rgb(255,255,0),rgb(255,0,0));
}
.bar1{
	background-image: -moz-linear-gradient(top, white, black);
}

.crBoxSel{
	position:absolute;
	width:1px;
	height:1px;
}
.crBoxSel div{
	position:absolute;
	top:-2px;
	left:-2px;
	height:4px;
	width:4px;
	border:1px solid;
	overflow:hidden;
	-moz-border-radius:50%;
}
.crBar{
	cursor:n-resize;
	float:left;
	width:20px;
	height:100px;
	margin:5px;
	position:relative;
}
.crBarSel{
	position:absolute;
	left:-1px;
	margin-top:-2px;
	top:50%;
	height:5px;
	width:100%;
	background-color:#fff;
	border:1px solid black;
}
.crNums{
	float:right; 
	width:150px
}

.crNums .crHex,.crNums input{
	width:25px;
	background-color:transparent;
	border:1px solid grey;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	height:11px;
	margin:0;
	padding:0;
	top:4px;
	right:6px;
	color:#778398;
}
select{
	width:63px;
	height:18px;
	padding:0;
	font:12px Tahoma;
	color:black;
	border:1px solid #E2E5E9;
	background-image: -moz-linear-gradient(top, #eee, #C9CED6, #ccc, #CACED6);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:3px;
	background-color:#eee
}
option{
	background-color:#fff;
}
span.crD {
	width:50px;
	height:15px;
	padding:2px 6px;
	font:12px Tahoma;
	color:black;
	border:1px solid #E2E5E9;
	xbackground-image: -moz-linear-gradient(top, white, #CACED6);
	background-image: -moz-linear-gradient(top, #eee, #C9CED6, #ccc, #CACED6);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:3px;
}
span.crD span{
	text-shadow: #fff 0 1px;
	width:15px;
	vertical-align:baseline;

}
 .crNums .crIHex{
	width:60px;
}
.crNums .crView{
	width:25px; 
	height:15px; margin-left:3px;
	vertical-align:middle;
}
.crShade{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	border:0;
	zoom:1;
}
.crImg, .crImgIE{
	width:100%;
	height:100%;
	position:absolute;
}
.crBoxImg{
	background-image: -moz-linear-gradient (left, rgb(0,0,0), rgb(255,255,255));
	width:100%;
	height:100%;
}

.crHide{
	display:none
}

.crCancel, .crComplete {
	width:20px; float:right; cursor:pointer;
}

.crRound, .crRound *{
	-moz-border-radius:50%;
	-webkit-border-radius:40px; 
	border-radius:50%;
}

.crGradientBW {
	background-image: url('gradient.png');
	background-image: linear-gradient(left, black, white);
	background-image: -moz-linear-gradient(left, black, white);
	background-image: -webkit-gradient(linear, left center, right center, from(black), to(white));
	    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='black', EndColorStr='white');
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='black', EndColorStr='white');
}
.crAlphaGradient {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=100,  FinishX=100, StartY=0, FinishY=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=100,  FinishX=100, StartY=0, FinishY=100);
}
.crShow{
	height:22;
	vertical-align:top;
}

.crCircle{
	position:relative;
	overflow:hidden;
}

.crCircle div{
	position:absolute;
	width:80px;
	height:80px;
	border:10px solid silver;
}

/* Triangle picker. Buggy in IE6 */
.crTriangle div{
	position:absolute;
	border-bottom:100px dotted transparent;
	width:0;
	height:0;
	bottom:0;
	right:0;
}
.crTri1{
	left:0;
	border-left:50px solid silver;
}
.crTri2{
	right:0;
	border-right:50px solid silver;
}

.cr3{
	background-image:-moz-linear-gradient(right, blue, -moz-linear-gradient(top, white, silver));
}

.crL0, .crL1, .crL2{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
}

.crL01{	background-image: -moz-linear-gradient(left, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00) }
.crL02,.crL03{background-image:-moz-linear-gradient(left, #000, #fff) }

.crL12.crL1B{ background-color:#fff }
.crL12.crL1L{ background-color:grey }
.crL22.crL2B{ background-image:-moz-linear-gradient(left, #000, transparent) }
.crL22.crL2L{ background-image:-moz-linear-gradient(left, #000, transparent, #fff) }



.t1, .t2{
position:relative;
height:300px;
}

.t1 div, .t2 div{
	position:absolute; 
	width:200px;
	height:200px;
	top:0;
	left:0;
}
.test1{
	background-image:-moz-linear-gradient(left, #000, #fff);
}
.test1a{
	background-image:-moz-radial-gradient(top right, #f00, transparent);
}

.test2{
	background-image:-moz-linear-gradient(top, #f00, transparent);
	background-color:#fff;
}
.test2a{
	background-image:-moz-linear-gradient(left, #000, transparent);
}
